

html {
  
  background: rgba(102, 103, 105, 0.822);
}

.parent{
  position:relative;
  top: 0;
  left: 0;
}
.image1 {
  position:fixed;
  top: 40%;
  left: 42%;
  height: 300px;
  width: 500px;
}

.name{
  position: fixed;
  top: 25%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-family:'Montserrat',sans-serif
}

.intro{
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  top: 35%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.sidebar{
  
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #041230;
  position: fixed;
  height: 100vh;
  overflow: auto;
  font-size: 0.80em;
     
}

.nav{
  position: relative;
  margin: 0 10%;
  text-align: right;
  font-weight: bold;
  }

.nav ul{
  text-decoration: none;
  list-style: none;
  margin: 15em 0;
  line-height: 6em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5em;
  display: block;
  transition: all ease-out;
}

a:link {
  /* color: #041230; */
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgba(#FFF, 0.75);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #e3872d;
  text-decoration: none;
}

/* selected link */
a:active {
  color: b#e3872d;
  text-decoration: none;
}

hr{
  border: 0;
  height: 3px;
  /* background: #041230; */
  background-image: linear-gradient(to right, #042377, #4660d3);
}
  

