

html {
  
  background: rgb(67, 101, 139);
}

/* .parent{
  position:relative;
  top: 0;
  left: 0;
}
.image1 {
  position:center;
  top: 100%;
  height: 200px;
  width: 100%;
  
} */


.name{
  position: fixed;
  top: 20%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.quote{
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.sidebar{
  
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #041230;
  position: fixed;
  height: 100vh;
  overflow: auto;
  font-size: 0.75em;
     
}

.nav{
  
  position: relative;
  margin: 0 10%;
  
  text-align: right;
  font-weight: bold;
  
  }

.nav ul{
  text-decoration: none;
  list-style: none;
  margin: 10em 0;
  
 
  line-height: 6em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5em;
  display: block;
  transition: all ease-out;
  
}

li a:visited {
  color: red
}

  

